<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets_main/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../static/assets_main/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets_main/libs/css/style.css">
    <link rel="stylesheet" href="../static/assets_main/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../static/assets_main/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="../static/assets_main/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet"
          href="../static/assets_main/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets_main/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="../static/assets_main/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <script src="../static/assets_main/vendor/jquery/jquery-3.3.1.min.js"></script>
    <title>STOCK IИ YOUR AREA</title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="home.html">STOCK IИ YOUR AREA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <!--                    <li class="nav-item">-->
                    <div id="custom-search" class="top-search-bar">
                        <input id="search_text" class="form-control" type="text" placeholder="Search..">
                    </div>
                    <!--                    </li>-->
                    <!--                                        <li class="nav-item" style="text-align: center">-->
                    <div class="top-search-bar">
                        <input id="search_btn" class="form-control" type="button" value="查询股票" onclick="search()">
                    </div>


                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><img
                                src="../static/assets_main/images/avatar-1.jpg" alt=""
                                class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                             aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name" id="user_name">用户名</h5>
                            </div>

                            <a class="dropdown-item" href="/"><i class="fas fa-power-off mr-2"></i>退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            菜单
                        </li>
                        <!--                        我的版块-->
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-1" aria-controls="submenu-1"><i
                                    class="fa fa-fw fa-user-circle"></i>我的<span
                                    class="badge badge-success">6</span></a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="home">我的自选</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                           data-target="#submenu-1-1" aria-controls="submenu-1-1">数据</a>
                                        <div id="submenu-1-1" class="collapse submenu" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="dashboard-influencer.html">上涨榜</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="influencer-finder.html">下跌榜</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="influencer-profile.html">预留</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--                        大数据版块-->
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-2" aria-controls="submenu-2"><i
                                    class="fa fa-fw fa-rocket"></i>市场</a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/general.html">股票查询</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/plate_up">热门上涨版块</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/plate_down">热门下跌版块</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>大数据</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/chart-c3.html">预留</a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <!---->
                    </ul>
                </div>
            </nav>
        </div>
    </div>


    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">我的自选股</h2>
                            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel
                                mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            我的
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            我的自选股
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">

                                <h5 class="card-header">详细信息</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table" style="width: 1365px; word-break:break-all">
                                            <!--                                        <table>-->

                                            <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0"></th>
                                                <th class="border-0">股票代码</th>

                                                <th class="border-0">股票简称</th>
                                                <th class="border-0">交易状态</th>
                                                <!--                                                <th class="border-0">更新时间</th>-->
                                                <th class="border-0">股价</th>
                                                <th class="border-0">涨跌值</th>
                                                <th class="border-0">涨跌百分比</th>
                                                <th class="border-0">昨日收盘价</th>
                                                <th class="border-0">今日开盘价</th>
                                                <th class="border-0">今日最高价</th>
                                                <th class="border-0">今日最低价</th>
                                                <th class="border-0">振幅</th>
                                                <th class="border-0">换手率</th>
                                                <th class="border-0">市盈率</th>
                                                <th class="border-0">动态市盈率</th>
                                                <th class="border-0">市净率</th>
                                                <th class="border-0">总市值</th>
                                                <th class="border-0">流通市值</th>
                                                <th class="border-0">成交量</th>
                                                <th class="border-0">成交额</th>
                                                <th class="border-0">量比</th>
                                                <th class="border-0">流通股本</th>

                                                <th class="border-0">每股净资产</th>


                                            </tr>
                                            </thead>
                                            <tbody id="detail">
                                            <tr>
                                                <!--                                                <td>1</td>-->

                                                <!--                                                <td>平安银行</td>-->
                                                <!--                                                <td>已休市</td>-->
                                                <!--                                                <td>2020-12-23 23:28:08</td>-->

                                                <!--                                                <td>0.10</td>-->
                                                <!--                                                <td>17.90</td>-->


                                                <!--                                                <td>17.79</td>-->
                                                <!--                                                <td>1.56%</td>-->
                                                <!--                                                <td>0.39%</td>-->
                                                <!--                                                <td>12.95</td>-->
                                                <!--                                                <td>11.70</td>-->
                                                <!--                                                <td>1.21</td>-->
                                                <!--                                                <td>3493.1亿</td>-->
                                                <!--                                                <td>3493.0亿</td>-->

                                                <!--                                                <td>13.46亿</td>-->
                                                <!--                                                <td>0.86</td>-->
                                                <!--                                                <td>194.06亿</td>-->
                                                <!--                                                <td>194.06亿</td>-->
                                                <!--                                                <td>14.88</td>-->
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!--                    涨跌排行-->
                    <div class="row">


                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

                            <div class="card">
                                <h5 class="card-header">上涨排行</h5>
                                <div class="card-body p-0">
                                    <ul class="traffic-sales list-group list-group-flush" id="list">
                                        <!--                                        <li class="traffic-sales-content list-group-item "><span-->
                                        <!--                                                class="traffic-sales-name">Direct</span><span-->
                                        <!--                                                class="traffic-sales-amount">$4000.00  <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-up"></i></span><span-->
                                        <!--                                                class="ml-1 text-success">5.86%</span></span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item"><span-->
                                        <!--                                                class="traffic-sales-name">Search<span class="traffic-sales-amount">$3123.00  <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-up"></i></span><span-->
                                        <!--                                                class="ml-1 text-success">5.86%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item"><span-->
                                        <!--                                                class="traffic-sales-name">Social<span-->
                                        <!--                                                class="traffic-sales-amount ">$3099.00  <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-up"></i></span><span-->
                                        <!--                                                class="ml-1 text-success">5.86%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item"><span-->
                                        <!--                                                class="traffic-sales-name">Referrals<span-->
                                        <!--                                                class="traffic-sales-amount ">$2220.00   <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-down"></i></span><span-->
                                        <!--                                                class="ml-1 text-danger">4.02%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item "><span-->
                                        <!--                                                class="traffic-sales-name">Email<span class="traffic-sales-amount">$1567.00   <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-down"></i></span><span-->
                                        <!--                                                class="ml-1 text-danger">3.86%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12">

                        </div>

                    </div>

                    <div class="row">


                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">

                            <div class="card">
                                <h5 class="card-header">下跌排行</h5>
                                <div class="card-body p-0">
                                    <ul class="traffic-sales list-group list-group-flush" id="list2">
                                        <!--                                        <li class="traffic-sales-content list-group-item "><span-->
                                        <!--                                                class="traffic-sales-name">Direct</span><span-->
                                        <!--                                                class="traffic-sales-amount">$4000.00  <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-up"></i></span><span-->
                                        <!--                                                class="ml-1 text-success">5.86%</span></span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item"><span-->
                                        <!--                                                class="traffic-sales-name">Search<span class="traffic-sales-amount">$3123.00  <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-up"></i></span><span-->
                                        <!--                                                class="ml-1 text-success">5.86%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item"><span-->
                                        <!--                                                class="traffic-sales-name">Social<span-->
                                        <!--                                                class="traffic-sales-amount ">$3099.00  <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-up"></i></span><span-->
                                        <!--                                                class="ml-1 text-success">5.86%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item"><span-->
                                        <!--                                                class="traffic-sales-name">Referrals<span-->
                                        <!--                                                class="traffic-sales-amount ">$2220.00   <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-down"></i></span><span-->
                                        <!--                                                class="ml-1 text-danger">4.02%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                        <!--                                        <li class="traffic-sales-content list-group-item "><span-->
                                        <!--                                                class="traffic-sales-name">Email<span class="traffic-sales-amount">$1567.00   <span-->
                                        <!--                                                class="icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light"><i-->
                                        <!--                                                class="fa fa-fw fa-arrow-down"></i></span><span-->
                                        <!--                                                class="ml-1 text-danger">3.86%</span></span>-->
                                        <!--                                                </span>-->
                                        <!--                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12">

                        </div>

                    </div>

                </div>
                <!-- footer -->
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                制作人：刘奕霖 朱烜佶 赵泓哲
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">关于</a>

                                    <a href="javascript: void(0);">联系我们</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    var user_name = "";

    var id = "";
    var simple_name = "";


    var trade_status = "";
    var update_time = "";
    var change_ = "";
    var closing_price = "";
    var lowest = "";
    var PER = "";
    var dynamic_PER = "";
    var PBR = "";
    var market_value = "";
    var circulation_market_value = "";
    var turnover_valu = "";
    var volume_ratio = "";
    var circulation_shares = "";
    var total_shares = "";
    var BPS = "";


    var change_percent = "";
    var opening_price = "";
    var highest = "";
    var turnover_volume = "";
    var price_tem = "";
    var amplitude = "";
    var turnover_ratio = "";
    var counter = 0;
    var html = "";
    var html2 = "";

    $.ajax({
        type: "GET",
        url: "http://127.0.0.1:5000/my_select",
        dataType: 'json',
        success: function (result) {
            user_name = result['user_name'];
            $("#user_name").html(user_name);
            data = result['data'];
            var length = data.length;

            //改写网页内容
            html = "";
            html2 = "";
            html3 = "";
            for (var i = 0; i < length; i++) {
                id = data[i][0];
                simple_name = data[i][1];
                trade_status = data[i][2];
                update_time = data[i][3];
                price_tem = data[i][4];
                change_ = data[i][5];
                change_percent = data[i][6];
                closing_price = data[i][7];
                opening_price = data[i][8];
                highest = data[i][9];
                lowest = data[i][10];
                amplitude = data[i][11];
                turnover_ratio = data[i][12];
                PER = data[i][13];
                dynamic_PER = data[i][14];
                PBR = data[i][15];
                market_value = data[i][16];
                circulation_market_value = data[i][17];
                turnover_volume = data[i][18];
                turnover_value = data[i][19];
                volume_ratio = data[i][20];
                circulation_shares = data[i][21];
                total_shares = data[i][22];
                BPS = data[i][23];

                counter = i + 1;

                html = html +
                    "<tr>\n" +

                    "<td>" + counter + "</td>\n" +
                    "<td>" + id + "</td>\n" +
                    "<td>" + simple_name + "</td>\n" +
                    "<td>" + trade_status + "</td>\n" +
                    "<td>" + price_tem + "</td>\n" +
                    "<td>" + change_ + "</td>\n" +
                    "<td>" + change_percent + "</td>\n" +
                    "<td>" + closing_price + "</td>\n" +
                    "<td>" + opening_price + "</td>\n" +
                    "<td>" + highest + "</td>\n" +
                    "<td>" + lowest + "</td>\n" +
                    "<td>" + amplitude + "</td>\n" +
                    "<td>" + turnover_ratio + "</td>\n" +
                    "<td>" + PER + "</td>\n" +
                    "<td>" + dynamic_PER + "</td>\n" +
                    "<td>" + PBR + "</td>\n" +
                    "<td>" + market_value + "</td>\n" +
                    "<td>" + circulation_market_value + "</td>\n" +
                    "<td>" + turnover_value + "</td>\n" +
                    "<td>" + volume_ratio + "</td>\n" +
                    "<td>" + circulation_shares + "</td>\n" +
                    "<td>" + total_shares + "</td>\n" +
                    "<td>" + BPS + "</td>\n" +
                    "</tr>\n";

                // alert(total_shares);

                if (change_percent[0] != "-") {
                    html2 = html2 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                        "class=\"traffic-sales-name\">" + simple_name + "</span><span\n" +
                        "class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                        "class=\"icon-circle-small icon-box-xs text-success ml-4 bg-success-light\"><i\n" +
                        "class=\"fa fa-fw fa-arrow-up\"></i></span><span\n" +
                        "class=\"ml-1 text-success\">" + change_percent + "</span></span>\n" +
                        "</li>";
                } else {
                    html2 = html2 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                        "class=\"traffic-sales-name\">" + simple_name + "<span class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                        "class=\"icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light\"><i\n" +
                        "class=\"fa fa-fw fa-arrow-down\"></i></span><span\n" +
                        "class=\"ml-1 text-danger\">" + change_percent + "</span></span>\n" +
                        "</span>\n" +
                        "</li>";
                }


            }


            for (var i = length - 1; i > -1; i--) {

                simple_name = data[i][1];
                price_tem = data[i][4];
                change_percent = data[i][6];

                if (change_percent[0] != "-") {
                    html3 = html3 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                        "class=\"traffic-sales-name\">" + simple_name + "</span><span\n" +
                        "class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                        "class=\"icon-circle-small icon-box-xs text-success ml-4 bg-success-light\"><i\n" +
                        "class=\"fa fa-fw fa-arrow-up\"></i></span><span\n" +
                        "class=\"ml-1 text-success\">" + change_percent + "</span></span>\n" +
                        "</li>";
                } else {
                    html3 = html3 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                        "class=\"traffic-sales-name\">" + simple_name + "<span class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                        "class=\"icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light\"><i\n" +
                        "class=\"fa fa-fw fa-arrow-down\"></i></span><span\n" +
                        "class=\"ml-1 text-danger\">" + change_percent + "</span></span>\n" +
                        "</span>\n" +
                        "</li>";
                }


            }


            $("#detail").empty();
            $("#detail").html(html);

            $("#list").empty();
            $("#list").html(html2);

            $("#list2").empty();
            $("#list2").html(html3);


            setInterval(function () {

                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/my_select",
                    dataType: 'json',
                    success: function (result) {
                        data = result['data'];
                        var length = data.length;

                        //改写网页内容
                        html = "";
                        html2 = "";
                        html3 = "";
                        for (var i = 0; i < length; i++) {
                            id = data[i][0];
                            simple_name = data[i][1];
                            trade_status = data[i][2];
                            update_time = data[i][3];
                            price_tem = data[i][4];
                            change_ = data[i][5];
                            change_percent = data[i][6];
                            closing_price = data[i][7];
                            opening_price = data[i][8];
                            highest = data[i][9];
                            lowest = data[i][10];
                            amplitude = data[i][11];
                            turnover_ratio = data[i][12];
                            PER = data[i][13];
                            dynamic_PER = data[i][14];
                            PBR = data[i][15];
                            market_value = data[i][16];
                            circulation_market_value = data[i][17];
                            turnover_volume = data[i][18];
                            turnover_value = data[i][19];
                            volume_ratio = data[i][20];
                            circulation_shares = data[i][21];
                            total_shares = data[i][22];
                            BPS = data[i][23];

                            counter = i + 1;

                            html = html +
                                "<tr>\n" +

                                "<td>" + counter + "</td>\n" +
                                "<td>" + id + "</td>\n" +
                                "<td>" + simple_name + "</td>\n" +
                                "<td>" + trade_status + "</td>\n" +
                                "<td>" + price_tem + "</td>\n" +
                                "<td>" + change_ + "</td>\n" +
                                "<td>" + change_percent + "</td>\n" +
                                "<td>" + closing_price + "</td>\n" +
                                "<td>" + opening_price + "</td>\n" +
                                "<td>" + highest + "</td>\n" +
                                "<td>" + lowest + "</td>\n" +
                                "<td>" + amplitude + "</td>\n" +
                                "<td>" + turnover_ratio + "</td>\n" +
                                "<td>" + PER + "</td>\n" +
                                "<td>" + dynamic_PER + "</td>\n" +
                                "<td>" + PBR + "</td>\n" +
                                "<td>" + market_value + "</td>\n" +
                                "<td>" + circulation_market_value + "</td>\n" +
                                "<td>" + turnover_value + "</td>\n" +
                                "<td>" + volume_ratio + "</td>\n" +
                                "<td>" + circulation_shares + "</td>\n" +
                                "<td>" + total_shares + "</td>\n" +
                                "<td>" + BPS + "</td>\n" +
                                "</tr>\n";

                            if (change_percent[0] != "-") {
                                html2 = html2 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                                    "class=\"traffic-sales-name\">" + simple_name + "</span><span\n" +
                                    "class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                                    "class=\"icon-circle-small icon-box-xs text-success ml-4 bg-success-light\"><i\n" +
                                    "class=\"fa fa-fw fa-arrow-up\"></i></span><span\n" +
                                    "class=\"ml-1 text-success\">" + change_percent + "</span></span>\n" +
                                    "</li>";
                            } else {
                                html2 = html2 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                                    "class=\"traffic-sales-name\">" + simple_name + "<span class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                                    "class=\"icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light\"><i\n" +
                                    "class=\"fa fa-fw fa-arrow-down\"></i></span><span\n" +
                                    "class=\"ml-1 text-danger\">" + change_percent + "</span></span>\n" +
                                    "</span>\n" +
                                    "</li>";
                            }


                        }

                        for (var i = length - 1; i > -1; i--) {

                            simple_name = data[i][1];
                            price_tem = data[i][4];
                            change_percent = data[i][6];

                            if (change_percent[0] != "-") {
                                html3 = html3 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                                    "class=\"traffic-sales-name\">" + simple_name + "</span><span\n" +
                                    "class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                                    "class=\"icon-circle-small icon-box-xs text-success ml-4 bg-success-light\"><i\n" +
                                    "class=\"fa fa-fw fa-arrow-up\"></i></span><span\n" +
                                    "class=\"ml-1 text-success\">" + change_percent + "</span></span>\n" +
                                    "</li>";
                            } else {
                                html3 = html3 + "<li class=\"traffic-sales-content list-group-item \"><span\n" +
                                    "class=\"traffic-sales-name\">" + simple_name + "<span class=\"traffic-sales-amount\">¥" + price_tem + "  " + "<span\n" +
                                    "class=\"icon-circle-small icon-box-xs text-danger ml-4 bg-danger-light\"><i\n" +
                                    "class=\"fa fa-fw fa-arrow-down\"></i></span><span\n" +
                                    "class=\"ml-1 text-danger\">" + change_percent + "</span></span>\n" +
                                    "</span>\n" +
                                    "</li>";
                            }


                        }

                        $("#detail").empty();
                        $("#detail").html(html);

                        $("#list").empty();
                        $("#list").html(html2);

                        $("#list2").empty();
                        $("#list2").html(html3);

                    }
                });


            }, 5000);

        }
    });


</script>


<script type="text/javascript">


    function IsNum(num) {
        var reNum = /^\d*$/;
        return (reNum.test(num));
    }

    function IsAlphabet(alp) {
        var reAlp = /[a-z]/i;
        return (reAlp.test(alp));
    }

    function search() {
        var text = document.getElementById("search_text");
        // alert(typeof (text.value));

        var temp = document.createElement("form");
        temp.action = "/search_data";
        temp.method = "post";
        // temp.style.display = "none";
        //


        var user_name_ = document.createElement("textarea");
        user_name_.name = "user_name_";
        user_name_.value = user_name;
        temp.appendChild(user_name_);

        var content = document.createElement("textarea");
        content.name = "content";
        content.value = text.value;
        temp.appendChild(content);

        if (IsNum(content.value)) {
            if (content.value.length != 6) {
                alert("格式不符合")
                return 0;
            }
            var kind = document.createElement("textarea");
            kind.name = "kind";
            //数字代码
            kind.value = "1";
            temp.appendChild(kind);
        } else if (IsAlphabet(content.value)) {
            if (content.value.length != 4) {
                alert("格式不符合")
                return 0;
            }
            var kind = document.createElement("textarea");
            kind.name = "kind";
            //字母代码
            kind.value = "2";
            temp.appendChild(kind);
        } else {
            var kind = document.createElement("textarea");
            kind.name = "kind";
            //中文代码
            kind.value = "3";
            temp.appendChild(kind);
        }


        document.body.appendChild(temp);
        temp.submit();
        document.body.removeChild(temp);

        // temp.submit();
        // alert(temp);


    }

    function select() {
        var temp = document.createElement("form");
        temp.action = "/select_stock";
        temp.method = "post";

        var user_name_ = document.createElement("textarea");
        user_name_.name = "user_name_";
        user_name_.value = user_name;
        temp.appendChild(user_name_);

        var select_id = document.createElement("textarea");
        select_id.name = "select_id";
        select_id.value = id;
        temp.appendChild(select_id);

        document.body.appendChild(temp);
        temp.submit();
        document.body.removeChild(temp);
    }

</script>

<script src="../static/assets_main/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>